@model CircularManagementSystem.Models.EmployeeModel

@{
    ViewBag.Title = "AddEmployee";
}
<div class="AddEmployee-container">

<h2 class="title">AddEmployee</h2>
    <hr />
@using(Html.BeginForm("AddEmployee","Admin",FormMethod.Post))
{
<div class="form">
    <div>
            @Html.LabelFor(model => model.EmployeeName,new { @class = "AddEmployee-label" })
            @Html.TextBoxFor(model => model.EmployeeName,new { @class = "AddEmployee-textboxName" })
            @Html.ValidationMessageFor(model => model.EmployeeName)
    </div>
    <div>
            @Html.LabelFor(model => model.EmployeePhoneNumber,new { @class = "AddEmployee-label" })
            @Html.TextBoxFor(model => model.EmployeePhoneNumber,new { @class = "AddEmployee-textboxPhone" })
            @Html.ValidationMessageFor(model => model.EmployeePhoneNumber)
    </div>
    <div>
            @Html.LabelFor(model => model.EmployeeGender,new { @class = "AddEmployee-label" })
            @Html.RadioButtonFor(model => model.EmployeeGender, "Male", new { @class = "AddEmployee-radioMale" })
            @Html.Label("Male", new { @class = "AddEmployee-radiolabelMale" })
            @Html.RadioButtonFor(Model => Model.EmployeeGender, "Female", new { @class = "AddEmployee-radioFemale" })
            @Html.Label("Female", new { @class = "AddEmployee-radiolabelFemale" })
            @Html.ValidationMessageFor(model => model.EmployeeGender)
        </div>
    <div>
            @Html.LabelFor(model => model.EmployeeEmail,new { @class = "AddEmployee-label" })
            @Html.TextBoxFor(model => model.EmployeeEmail,new { @class = "AddEmployee-textboxEmail" })
            @Html.ValidationMessageFor(model => model.EmployeeEmail)
            </div>
    <div>
            @Html.LabelFor(model => model.Department,new { @class = "AddEmployee-label" })
            @Html.DropDownListFor(model => model.DepartmentId, (IEnumerable<SelectListItem>)ViewBag.Department, "Select Department",new { @class = "AddEmployee-textboxDepartment" })
            @Html.ValidationMessageFor(model => model.Department)
        </div>
    <div>
            @Html.LabelFor(model => model.EmployeeDesignation,new { @class = "AddEmployee-label" })
            @Html.DropDownListFor(model => model.DesignationId, (IEnumerable<SelectListItem>)ViewBag.Designation, "Select Designation",new { @class = "AddEmployee-textboxDesignation" })
    </div>
    <div>
            @Html.LabelFor(model => model.Manager,new { @class = "AddEmployee-label" })
            @Html.DropDownListFor(model => model.ManagerId, (IEnumerable<SelectListItem>)ViewBag.Manager, "Select Manager",new { @class = "AddEmployee-textboxManager" })
        </div>
    <div>
            @Html.AntiForgeryToken()
            <input type="reset" class="reset-AddEmployee"/>
            <input type="submit" class="submit-AddEmployee"/>
        </div>
</div>
}
</div>