@model CircularManagementSystem.Models.AccountModel
@{
    ViewBag.Title = "Login";
}
<link href="~/CSS/Styles.css" rel="stylesheet" type="text/css" />
@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
    
<div class="login-container">
    <h2>Login</h2>
    <hr />
    <div class="username-label">
        @Html.LabelFor(model => model.UserName)
        @Html.TextBoxFor(model => model.UserName, new { placeholder="Enter the username...",maxlength=25,autocomplete="off", @class = "username" })
        @Html.ValidationMessageFor(model=>model.UserName,"",new { @class="ValidUserName"})
    </div>
    <div class="password-label">
        @Html.LabelFor(model => model.Password)
        @Html.PasswordFor(model => model.Password,new { placeholder = "Enter the password...",maxlength=10, @class = "password"} )
        @Html.ValidationMessageFor(model=>model.Password,"",new { @class= "ValidUserName" })
    </div>
    <button type="reset" class="reset">Reset</button>
    <button type="submit" class="submit">Submit</button>
    <div>
        @if (ViewBag.Message != null)
        {
            @ViewBag.Message
        }
    </div>
</div>
}

